
	<!doctype html>
	<html lang="fr">
		<head>
            <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
			<meta charset="utf-8">
			<title>Le formulaire</title>
		</head>
		<body>
			<form action="http://localhost:5000/resultat" method="post">
					<label>Prénom</label> : <input type="text" name="prenom" />
					<label>age</label> : <input type="number" name="age" />
					<label>Sexe</label> : <input type="text" name="gender" />
					<label>Avec Enfants</label> : <input type="text" name="with_child" />
					<label>Lieu de résidence</label> : <input type="text" name="place_of_residence" />
					<label>Budget Max</label> : <input type="number" name="budget" />
					<input type="submit" value="Envoyer" />
			</form>
		</body>
	</html>
		